body{
    background-color: lightgray;
}

h2{
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

img{
    text-align: center;
}

.white-background{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

#nav_bar{
    margin-bottom:50px;
    background-color: white;
    width: 100%;
}

#lat{
    font-weight: bold;
    color: white;
    background-color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}