body{
    background-color: lightgray;
}

h1{
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.white-background{
    background-color: white;
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
}

.navbar li a{
    color: 
    text-decoration: none;
}

.main-body{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px
}